@import "normalize.css";
@import "foundation.css";
@import "ie.css";
@import "app.css";

@mixin clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	zoom: 1;
}

@mixin background-gradient ($top-color, $bottom-color) {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.0, $bottom-color),
        color-stop(1.0, $top-color)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        $bottom-color 0%,
        $top-color 76%
    );
}

@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top-left ($radius) {
	-webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}

@mixin border-radius-bottom-left ($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
}

@mixin shadow ($hor, $vert, $blur, $spread, $color) {
    -webkit-box-shadow: $hor $vert $blur $spread $color;
    -moz-box-shadow: $hor $vert $blur $spread $color;
    box-shadow: $hor $vert $blur $spread $color;
}