@import url(normalize.css);
/* Gray theme */
/*
$body-color: #222;
$base-color: #222;
$contrast-color: #eee;
$content-header-color: #ccc;
$content-area-color: #fff;
$button-base-color: #4c4c4c;

$text-prominent-color: $base-color;
$text-subtle-color: #999;

$tab-color: #999;
$tab-active-color: $content-area-color;
$tab-font-color: $base-color;
$tab-active-font-color: $base-color;*/
/* Blue Theme */
body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif; }

header.top-level {
  zoom: 1;
  background-color: #eeeeee;
  border-bottom: 2px solid #003366;
  color: #003366;
  height: 50px; }
  header.top-level:before, header.top-level:after {
    content: "";
    display: table; }
  header.top-level:after {
    clear: both; }
  header.top-level h1 {
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    margin: 0 20px; }
  header.top-level a {
    color: #003366;
    text-decoration: none; }
    header.top-level a.sign-out {
      display: inline-block;
      float: right;
      font-size: 12px;
      font-weight: bold;
      line-height: 30px;
      padding: 10px 20px; }

.app-admin {
  zoom: 1;
  margin: auto; }
  .app-admin:before, .app-admin:after {
    content: "";
    display: table; }
  .app-admin:after {
    clear: both; }

.app-admin ul#appNav {
  margin: 0;
  width: 20%;
  float: left; }
  .app-admin ul#appNav, .app-admin ul#appNav ul {
    list-style-type: none;
    padding: 0; }
  .app-admin ul#appNav > li {
    display: block;
    width: 100%;
    min-height: 50px;
    clear: right;
    float: right; }
    .app-admin ul#appNav > li:last-child {
      background-color: #006699;
      height: 10px;
      min-height: 0; }
    .app-admin ul#appNav > li.active > a, .app-admin ul#appNav > li > a:hover {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00334d), color-stop(1, #0077b3));
      background-image: -moz-linear-gradient(center bottom, #00334d 0%, #0077b3 76%); }
    .app-admin ul#appNav > li > a {
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #004466), color-stop(1, #0088cc));
      background-image: -moz-linear-gradient(center bottom, #004466 0%, #0088cc 76%);
      display: block;
      border-bottom: 1px solid #00111a;
      color: #eeeeee;
      line-height: 50px;
      padding: 0 16px;
      font-size: 14px;
      font-weight: bold;
      text-decoration: none; }
    .app-admin ul#appNav > li > ul {
      background-color: #006699;
      padding: 16px; }
      .app-admin ul#appNav > li > ul li {
        margin-bottom: 6px;
        height: 18px; }
        .app-admin ul#appNav > li > ul li a {
          text-decoration: none;
          color: #eeeeee;
          display: inline-block;
          height: 18px;
          line-height: 18px;
          padding: 0 7px;
          font-size: 12px; }
        .app-admin ul#appNav > li > ul li.active a, .app-admin ul#appNav > li > ul li:hover a {
          font-weight: bold;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          border-radius: 9px;
          background-color: #eeeeee;
          color: #003366; }

.app-admin div#content {
  float: left;
  width: 80%;
  min-height: 900px;
  background-color: white;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }
  .app-admin div#content header {
    height: 100px;
    background-color: #ccddee; }
    .app-admin div#content header h2 {
      color: #99aabb;
      margin: 0 15px;
      height: 70px;
      line-height: 70px;
      font-size: 30px; }
      .app-admin div#content header h2 em {
        font-style: normal;
        color: #003366; }
    .app-admin div#content header ul {
      list-style-type: none;
      height: 30px;
      margin: 0;
      padding: 0;
      padding-left: 9px; }
      .app-admin div#content header ul li {
        display: inline-block;
        padding: 0;
        height: 30px; }
        .app-admin div#content header ul li a {
          background-color: #006699;
          display: block;
          padding: 0 8px;
          color: white;
          text-decoration: none;
          font-weight: bold;
          font-size: 12px;
          line-height: 30px; }
        .app-admin div#content header ul li.active a, .app-admin div#content header ul li a:hover {
          background-color: white;
          color: #003366; }
  .app-admin div#content .substance {
    padding: 15px; }
