@import url(normalize.css);
body {
  background-color: #222222;
  font-family: Helvetica, Arial, sans-serif; }

header.top-level {
  zoom: 1;
  background-color: #eeeeee;
  color: #222222;
  height: 50px; }
  header.top-level:before, header.top-level:after {
    content: "";
    display: table; }
  header.top-level:after {
    clear: both; }
  header.top-level h1 {
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    margin: 0 10px; }
  header.top-level a {
    color: #222222;
    text-decoration: none; }
    header.top-level a.sign-out {
      display: inline-block;
      float: right;
      font-size: 12px;
      font-weight: bold;
      line-height: 30px;
      padding: 10px; }

.app-admin {
  zoom: 1; }
  .app-admin:before, .app-admin:after {
    content: "";
    display: table; }
  .app-admin:after {
    clear: both; }
  .app-admin ul#appNav {
    width: 200px;
    float: left;
    margin: 10px 0; }
    .app-admin ul#appNav, .app-admin ul#appNav ul {
      list-style-type: none;
      padding: 0; }
    .app-admin ul#appNav > li {
      display: block;
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #333333), color-stop(1, #666666));
      background-image: -moz-linear-gradient(center bottom, #333333 0%, #666666 76%);
      width: 190px;
      min-height: 50px;
      clear: right;
      float: right; }
      .app-admin ul#appNav > li.active > a, .app-admin ul#appNav > li:hover {
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #262626), color-stop(1, #595959));
        background-image: -moz-linear-gradient(center bottom, #262626 0%, #595959 76%); }
      .app-admin ul#appNav > li > a {
        display: block;
        border-bottom: 1px solid #0c0c0c;
        color: #eeeeee;
        line-height: 50px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none; }
      .app-admin ul#appNav > li > ul {
        margin: 16px; }
        .app-admin ul#appNav > li > ul li {
          margin-bottom: 6px;
          height: 18px; }
          .app-admin ul#appNav > li > ul li a {
            text-decoration: none;
            color: #eeeeee;
            display: inline-block;
            height: 18px;
            line-height: 18px;
            padding: 0 7px;
            font-size: 12px; }
          .app-admin ul#appNav > li > ul li.active a {
            font-weight: bold;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            background-color: #eeeeee;
            color: #222222; }
  .app-admin div#content {
    float: left;
    width: 800px;
    background-color: white; }
