@import "normalize.css";
//Colors
/* Gray theme */
/*
$body-color: #222;
$base-color: #222;
$contrast-color: #eee;
$content-header-color: #ccc;
$content-area-color: #fff;
$button-base-color: #4c4c4c;

$text-prominent-color: $base-color;
$text-subtle-color: #999;

$tab-color: #999;
$tab-active-color: $content-area-color;
$tab-font-color: $base-color;
$tab-active-font-color: $base-color;*/

/* Blue Theme */
$body-color: #eee;
$base-color: #036;
$contrast-color: #eee;
$content-header-color: #cde;
$content-area-color: #fff;
$button-base-color: #069;

$text-prominent-color: $base-color;
$text-subtle-color: #9ab;

$tab-color: #069;
$tab-active-color: $content-area-color;
$tab-font-color: #fff;
$tab-active-font-color: $base-color;

@mixin clearfix {
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
	zoom: 1;
}

@mixin background-gradient ($top-color, $bottom-color) {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.0, $bottom-color),
        color-stop(1.0, $top-color)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        $bottom-color 0%,
        $top-color 76%
    );
}

@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-top-left ($radius) {
	-webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}

@mixin border-radius-bottom-left ($radius) {
    -webkit-border-bottom-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
}

@mixin shadow ($hor, $vert, $blur, $spread, $color) {
    -webkit-box-shadow: $hor $vert $blur $spread $color;
    -moz-box-shadow: $hor $vert $blur $spread $color;
    box-shadow: $hor $vert $blur $spread $color;
}


body {
	background-color: $body-color;
	font-family: Helvetica, Arial, sans-serif;
}
header.top-level {
	@include clearfix;
	background-color: $contrast-color;
	color: $base-color;
	height: 50px;
	h1 {
		display: inline-block;
		font-size: 18px;
		line-height: 50px;
		margin:0 20px;
	}
	a {
		color: $base-color;
		text-decoration: none;
		&.sign-out {
			display: inline-block;
			float: right;
			font-size: 12px;
			font-weight: bold;
			line-height: 30px;
			padding: 10px 20px;
		}
	}
}
.app-admin {
	@include clearfix;
	margin: auto;
}
.app-admin ul#appNav {
	margin: 0;
	width: 20%;
	float: left;
	&, ul {
		list-style-type: none;
		padding:0;
	}
	& > li {
		display:block;
		width: 100%;
		min-height: 50px;
		clear: right;
		float: right;
		&.active > a, & > a:hover {
			@include background-gradient(darken($button-base-color, 5%), lighten($button-base-color, 5%));
		}
		& > a {
			@include background-gradient(lighten($button-base-color, 5%), darken($button-base-color, 5%));
			display: block;
			border-bottom: 1px solid darken($button-base-color, 25%);
			color: $contrast-color;
			line-height: 50px;
			padding: 0 16px;
			font-size: 14px;
			font-weight: bold;
			text-decoration: none;
		}
		& > ul {
			background-color: $button-base-color;
			padding: 16px;
			li {
				margin-bottom: 6px;
				height: 18px;
				
				a {
					text-decoration: none;
					color: $contrast-color;
					display: inline-block;
					height: 18px;
					line-height: 18px;
					padding: 0 7px;
					font-size: 12px;
					
				}
				&.active a, &:hover a {
					font-weight: bold;
					@include border-radius(9px);
					background-color: $contrast-color;
					color: $base-color;
				}
			}
		}
	}
}
	
.app-admin div#content {
	float:left;
	width:80%;
	min-height: 900px;
	background-color: $content-area-color;
	header {
		height: 100px;
		background-color: $content-header-color;
		h2 {
			color: $text-subtle-color;
			margin:0 15px;
			height: 70px;
			line-height: 70px;
			font-size:30px;
			em {
				font-style: normal;
				color: $text-prominent-color ;
			}
			
		}
		ul {
			list-style-type: none;
			height: 30px;
			margin: 0;
			padding: 0;
			padding-left: 9px;
			li {
				display: inline-block;
				padding: 0;
				height: 30px;

				a {
					background-color: $tab-color;
					display:block;
					padding:0 8px;
					color: $tab-font-color;
					text-decoration:none;
					font-weight: normal;
					font-size: 14px;
					line-height: 30px;
				}
				&.active a, a:hover {
					background-color: $tab-active-color;
					color: $tab-active-font-color;
				}
				&.active a {
					font-weight: bold;
				}
			}
		}
	}
	& .substance {
		padding: 15px;
	}
}	