lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tgz

pids
logs
results
.DS_Store
/node_modules
npm-debug.log
test/support/keys.json
test/support/proj
test-app/data
bin/mongo
bin/node
examples/test/data
.latestversion

!bin/createtemplate/**