// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------


// Grays
// -------------------------
@black:                 #363535;
@grayDarker:            #222227;
@grayDark:              #333337;
@gray:                  #555557;
@grayLight:             #999997;
@grayLighter:           #eeeee7;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #429e96;
@blueDark:              #215570;
@green:                 #668731;
@red:                   #8b0e0c;
@yellow:                #e0ae28;
@orange:                #cc5a01;
@pink:                  #db3e3f;
@purple:                #bf5b77;


// Scaffolding
// -------------------------
@bodyBackground:        #FFFFF7;
@textColor:             desaturate(darken(@bodyBackground, 60%), 90%);


// Links
// -------------------------
@linkColor:             @blue;
@linkColorHover:        darken(@linkColor, 15%);


// Typography
// -------------------------
@baseFontSize:          13px;
@baseFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
@baseLineHeight:        18px;
@altFontFamily:         Georgia, "Times New Roman", Times, serif;

@headingsFontFamily:    Bitter; // empty to use BS default, @baseFontFamily
@headingsFontWeight:    bold;    // instead of browser default, bold
@headingsColor:         @black; // empty to use BS default, @textColor


// Tables
// -------------------------
@tableBackground:                   transparent; // overall background-color
@tableBackgroundAccent:             darken(@bodyBackground, 1%); // for striping
@tableBackgroundHover:              lighten(@blue, 55%); // for hover
@tableBorder:                       desaturate(darken(@bodyBackground, 10%), 50%); // table and cell border


// Buttons
// -------------------------
@btnBackground:                     @bodyBackground;
@btnBackgroundHighlight:            desaturate(darken(@bodyBackground, 10%), 50%);
@btnBorder:                         desaturate(darken(@bodyBackground, 20%), 50%);

@btnPrimaryBackground:              @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 15%);

@btnInfoBackground:                 @blue;
@btnInfoBackgroundHighlight:        lighten(@blue, 10%);

@btnSuccessBackground:              @green;
@btnSuccessBackgroundHighlight:     lighten(@green, 10%);

@btnWarningBackground:              lighten(@orange, 15%);
@btnWarningBackgroundHighlight:     @orange;

@btnDangerBackground:               @red;
@btnDangerBackgroundHighlight:      @red;

@btnInverseBackground:              @gray;
@btnInverseBackgroundHighlight:     @grayDarker;


// Forms
// -------------------------
@inputBackground:               @bodyBackground;
@inputBorder:                   desaturate(darken(@bodyBackground, 20%), 80%);
@inputDisabledBackground:       @grayLighter;


// Dropdowns
// -------------------------
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkBackgroundHover:   @linkColor;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
@zindexDropdown:          1000;
@zindexPopover:           1010;
@zindexTooltip:           1020;
@zindexFixedNavbar:       1030;
@zindexModalBackdrop:     1040;
@zindexModal:             1050;


// Sprite icons path
// -------------------------
@iconSpritePath:          "../img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
@placeholderText:         @grayLight;


// Hr border color
// -------------------------
@hrBorder:                @grayLighter;


// Navbar
// -------------------------
@navbarHeight:                    40px;
@navbarBackground:                @black;
@navbarBackgroundHighlight:       @black;

@navbarText:                      lighten(@black, 20%);
@navbarLinkColor:                 lighten(@black, 20%);
@navbarLinkColorHover:            @bodyBackground;
@navbarLinkColorActive:           @navbarLinkColorHover;
@navbarLinkBackgroundHover:       transparent;
@navbarLinkBackgroundActive:      darken(@navbarBackground, 2%);

@navbarSearchBackground:          lighten(@navbarBackground, 25%);
@navbarSearchBackgroundFocus:     @bodyBackground;
@navbarSearchBorder:              darken(@navbarSearchBackground, 30%);
@navbarSearchPlaceholderColor:    lighten(@textColor, 10%);


body {
  background: url(http://built-with.deploydapp.com/__dashboard/img/outlets.png);
}

.docs {
  width: 600px;
  margin: 0 auto;
}

@spacing: 20px;

.comment {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 14px;
    margin-bottom: @spacing / 2;
  }
  h2.declaration {
    margin: 0 -@spacing @spacing -@spacing;
    padding: 0 @spacing;
    background: @black;
    color: @bodyBackground;
  }
  ul {
    li + li {
      margin-top: @spacing / 2;
    }
    list-style: none;
    margin: 0 0 @spacing @spacing;
  }
  ul.tags {
    list-style: none;
    margin: @spacing 0;
    padding: 0;
    .tag-type {color: lighten(@black, 40%)}
    .tag-name {font-weight: bold;}
    li {
      color: @black;
    }
  }
  
  border-radius: @spacing / 4;
  background: @bodyBackground;
  padding: @spacing;
  border: solid 1px @black;
  margin-top: @spacing;
  .comment-hdr {
    margin-bottom: @spacing;
  }
}

pre {
  background: @black;
  padding: @spacing !important;
}

pre code {
  border: none;
}

@import "prettify.less";