<!doctype html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <title>Deployd :: My Apps</title>
  <link rel="stylesheet" media="all" href="/dashboard/css/dashboard.css" />
</head>

<body>
  <div id="nav">
		<div class="row">
			<div class="three columns">
				<h1>Deployd</h1>
			</div>
			<div class="nine columns">
				<strong class="right">
				</strong>
			</div>
		</div>
	</div>
	
	<!-- container -->
	<div class="container">
	  
    <div class="row">
      <div class="six columns">
        <h2>New App</h2>
    	  <form id="new-app" class="nice">
    	    <label>App Name</label>
    	    <input id="new-app-name" type="text" class="input-text" />
          <label>Invite Code</label>
    	    <input id="new-app-invite" type="text" class="input-text" />
    	    <a id="new-app-btn" class="small radius nice blue button">Create</a>
    	  </form>
      </div>
    	<div class="six columns">
    	  <h2>My Apps</h2>
    	  <table id="apps">
    	    <thead>
    	      <th>Name</th>
    	    </thead>
    	    <tbody>
      	    <tr id="row-template">
      	      <td></td>
      	    </tr>
    	    </tbody>
    	  </table>
      </div>
	  </div>
  </div>
  
  <script src="/dashboard/js/libs/LAB.js"></script>
  <script>
  (function() {
    var l = '/dashboard/js/libs/', m = '/dashboard/js/model/', v = '/dashboard/js/view/', p = '/dashboard/js/view/partial/';
    // dependencies
    $LAB
    .setOptions({
      AlwaysPreserveOrder: true,
      CacheBust: true
    })
    .script(l + 'underscore-min.js')
    .script(l + 'jquery-1.6.2.js')
	  .script('/deployd.js')
    .wait(function() {
      var row = $('#row-template').remove().clone(),
        appTable = $('#apps tbody');
        
      d('/me', function(me) {
        if(me && me.email) {
          $('#nav strong')
            .prepend(
              $('<a />')
                .text(me.email)
            )
          ;
          
          d('/search/apps', {creator: me.email}, function(apps) {
            if(apps && apps.results && apps.results.length) {
              $.each(apps.results, function(i, app) {
                if(!app.name) return;
                
                row
                  .clone()
                    .find('td')
                      .append(
                        $('<a />')
                          .attr('href', 'http://' + app.host + '.deploydapp.com')
                          .text(app.name)
                      )
                    .end()
                  .appendTo(appTable)
                ;
              })
            }
          });
        }
        
        $('#new-app-btn').click(function() {
          var name = $('#new-app-name').val(),
              secret = $('#new-app-invite').val();
              
          if(name && secret) {
            d('/apps', {name: name, secret: secret}, function(res) {
              if(res._id) {
                window.location = 'http://' + res.host + '.deploydapp.com/setup.html';
              } else if(res.errors) {
                alert(res.errors[0].message);
              }
            });
          }
        });
        
      });
      
      
      
      });
    })();
    </script>
  </body>
</html>

