body {
  background: url(http://built-with.deploydapp.com/__dashboard/img/outlets.png);
}
.docs {
  width: 600px;
  margin: 0 auto;
}
.comment {
  border-radius: 5px;
  background: #fffff7;
  padding: 20px;
  border: solid 1px #363535;
  margin-top: 20px;
}
.comment h1 {
  font-size: 24px;
}
.comment h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
.comment h2.declaration {
  margin: 0 -20px 20px -20px;
  padding: 0 20px;
  background: #363535;
  color: #fffff7;
}
.comment ul {
  list-style: none;
  margin: 0 0 20px 20px;
}
.comment ul li + li {
  margin-top: 10px;
}
.comment ul.tags {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.comment ul.tags .tag-type {
  color: #9c9b9b;
}
.comment ul.tags .tag-name {
  font-weight: bold;
}
.comment ul.tags li {
  color: #363535;
}
.comment .comment-hdr {
  margin-bottom: 20px;
}
pre {
  background: #363535;
  padding: 20px !important;
}
pre code {
  border: none;
}
.pln {
  color: #ffffff;
}
@media screen {
  .str {
    color: #b2d180;
  }
  .kwd {
    color: #a1d8d3;
  }
  .com {
    color: #504e4e;
  }
  .typ {
    color: #e7ad7f;
  }
  .lit {
    color: #90bd48;
  }
  .pun,
  .opn,
  .clo {
    color: #cccccc;
  }
  .tag {
    color: #a1d8d3;
  }
  .atn {
    color: #a39890;
  }
  .atv {
    color: #b2d180;
  }
  .dec,
  .var {
    color: #606;
  }
  .fun {
    color: #ff0000;
  }
}
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: #eee;
}
